<div class="channels-wrapper">
  <h1 class="title is-2">Channels</h1>

  <div class="level">
    <div class="level-left"></div>
    
    <% if has_role?(:admin) || has_role?(:moderator) %>
      <div class="level-right">
        <%= link_to 'New Channel', new_channel_path, class:'add-channel' %>
      </div>
    <% end %>
  </div>

  <table class="table is-fullwidth channels-table">
    <thead>
      <tr>
        <th>Channel</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @channels.each do |channel| %>
      <tr>
        <td><%= link_to channel.channel, channel %></td>
        <td>
          <div class="buttons is-right">
            <%= link_to 'View Channel', channel, class:'button' %>

            <% if has_role?(:admin) || has_role?(:moderator) %>
              <%= link_to 'Edit Channel', edit_channel_path(channel), class:'button' %>
            <% end %>
            
            <% if has_role?(:admin) || has_role?(:moderator) %>
              <%= link_to 'Delete', channel, class:'button is-danger', method: :delete, data: { confirm: "Are you sure you want to delete this channel? " } %>
            <% end %>
            
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>

  </table>
</div>