<p id="notice"><%= notice %></p>


<div class='channel-wrapper'>
  <p>
    <strong>Channel:</strong>
    <%= @channel.channel %>
  </p>

  <% if has_role?(:admin) || has_role?(:moderator) %>
    <%= link_to 'Edit', edit_channel_path(@channel) %> |
  <% end %>
  
  <%= link_to 'Back', channels_path %>

  <h2 class='channel-articles'>Articles in channel: </h2>
  
  <div class='articles'>
    <% @discussions.each do |discussion| %>

      <div class='article'>
        <%= link_to discussion, class: 'link' do %>
          <p> <%= discussion.title %> </p>
        <% end %>

        <% if discussion_author(discussion) || has_role?(:admin)  %>
          <%= link_to 'Edit', edit_discussion_path(discussion), class:'button' %>
        <% end %>

        <% if discussion_author(discussion) || has_role?(:admin) || has_role?(:moderator)  %>
          <%= link_to 'Delete', discussion_path(discussion), method: :delete, data: { confirm: "Delete discussion?" }, class:'button' %>
        <% end %>

      </div>
      
      
    <% end %>
  </div>
</div>