<%= stylesheet_link_tag "form" %>

<div class='wrapper register'>
	<%= simple_form_for(@discussion) do |f| %>
		<div class="wrapper__form">
			<div class='field'>
				<%= f.input :title, :error => false,
					required: true,
					autofocus: true,
					wrapper: false,
					label: 'Title:',
					input_html: { class: "input", id: 'username'},
					label_html: { class: "label" }
				%>
			</div>
			
			<div class='field'>
				<%= f.input :content, :error => false,
					required: true,
					wrapper: false,
					label: 'Content:',
					input_html: { class: "textarea"},
					label_html: { class: "label" }
				%>
			</div>

      <div class="field">
        <label class="label">Channel</label>
        <div class="control has-icons-left">
          <span class="select">
            <%= f.input_field :channel_id, collection: @channels.map { |c| [c.channel, c.id] }, prompt: "Select channel" %>
          </span>
          <span class="icon is-small is-left">
            <i class="fa fa-tag"></i>
          </span>
        </div>
      </div>


			<div class="form-actions">
				<%= f.button :submit, "SAVE", class: "button" %>
        <%= link_to 'Back', discussions_path %>
			</div>
		</div>
	<% end %>
</div>