
<div class="column is-8 discussions-wrapper">
   <h3 class="title is-5 has-text-grey-light">Latest Discussions</h3>
   <div class="title is-6">Filter by:</div>
   
   <div class='filters'>
      <%= link_to discussions_path, class: 'filters__link', id: 'filter_by_all' do %>
         All
      <% end %>
      <%= link_to discussions_path(channel_name: "Sport"), class: 'filters__link', id: 'filter_by_sport' do %>
         Sport
      <% end %>
      <%= link_to discussions_path(channel_name: "Health"), class: 'filters__link', id: 'filter_by_health' do %>
         Health
      <% end %>
      <%= link_to discussions_path(channel_name: "Business"), class: 'filters__link', id: 'filter_by_business' do  %>
         Business
      <% end %>
      <%= link_to discussions_path(channel_name: "Fashion"), class: 'filters__link', id: 'filter_by_fashion' do  %>
         Fashion
      <% end %>
      <%= link_to discussions_path(channel_name: "Lifestyle"), class: 'filters__link', id: 'filter_by_lifestyle' do  %>
         Lifestyle
      <% end %>
   </div>

   <div class="discussions">
      
      <% if user_signed_in? %>
         <%= link_to new_discussion_path, class: 'add-discussion' do %>
            <p>Add Discussion</p>
         <% end %>
      <% end %>
      
      <% @discussions.each do |discussion| %>
         <div class="columns bb-not-last pv10">
         <div class="column is-1">
            <%= gravatar_image_tag(discussion.user.email, class:'border-radius-50', size: 48, alt: discussion.user.username) %>
         </div>
         <div class="column is-8">
            <%= link_to discussion do %>
               <h3 class="title is-5"><%= discussion.title %></h3>
            <% end %>
            <div class="content">
               <%= truncate(strip_markdown(discussion.content), length: 140) %>
               <p><em><small>Posted <%= time_ago_in_words(discussion.created_at) %> ago in
               <% if discussion.channel %>
                  <%= link_to discussion.channel.channel, discussion.channel %>
               <% end %>
               by <%= discussion.user.username %>
               </small>
               </em>
               </p>
            </div>
         </div>

         
            <div class="column has-text-right">
               <% if discussion_author(discussion) || has_role?(:admin) %>
                  <%= link_to 'Edit', edit_discussion_path(discussion), class:'button' %>
               <% end %>
               

               <% if discussion_author(discussion) || has_role?(:admin) || has_role?(:moderator) %>
                  <%= link_to 'Delete', discussion, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
               <% end %>
            </div>
         

         </div>
      <% end %>
   </div>
</div>