<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	 <script src="https://kit.fontawesome.com/8253b0ed7b.js" crossorigin="anonymous"></script>
  </head>

  <body>
	<nav class='navbar'>
		<h1 class='navbar__brand'>VLOG</h1>
		<div class="navbar__links">
			<%= link_to 'HOME', root_path, :class => 'navbar__links__link' %>
			<%= link_to 'CATEGORIES', categories_path, :class => 'navbar__links__link' %>
			<%= link_to 'ABOUT US', root_path, :class => 'navbar__links__link' %>
			<% if !user_signed_in? %>
				<%= link_to 'CREATE ACCOUNT', new_user_registration_path, :class => 'navbar__links__link' %>
				<%= link_to 'LOGIN', new_user_session_path, :class => 'navbar__links__link' %>
			<% else %>
				<%= link_to "LOG OUT", destroy_user_session_path, method: :delete, :class => 'navbar__links__link' %>
			<% end %>
		</div>
	</nav>
	<div class="navbar-burger burger" data-target="navbar">
		
	<div class='container'>
		<%= yield %>
	</div>

	<footer>
		<p>VLOG</p>
		<div class="navbar__links--footer">
			<%= link_to 'HOME', root_path, :class => 'navbar__links__link' %>
			<%= link_to 'CATEGORIES', categories_path, :class => 'navbar__links__link' %>
			<%= link_to 'ABOUT US', root_path, :class => 'navbar__links__link' %>
			<% if !user_signed_in? %>
				<%= link_to 'CREATE ACCOUNT', new_user_registration_path, :class => 'navbar__links__link' %>
				<%= link_to 'LOGIN', new_user_session_path, :class => 'navbar__links__link' %>
			<% else %>
				<%= link_to "LOG OUT", destroy_user_session_path, method: :delete, :class => 'navbar__links__link' %>
			<% end %>
		</div>
		<p class='copyright'>@Copyright Dawid Łychoński 2020</p>
	</footer>
  </body>
</html>
